In [1]:
#IMPORTS

import pandas as pd
import numpy as np
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer

In [30]:
data = pd.read_csv('../data/dataset_twitter-scraper_2023-02-16_09-48-43-259.csv')

C:\Users\Tristan\AppData\Local\Temp\ipykernel_10716\4086238488.py:1: DtypeWarning: Columns (7,8,9,10,11,24,60,98,99,101,102,104,105,107,108,110,111,113,114,116,117,119,120,122,123,125,126,128,129,131,132,134,135,137,138,140,141,143,144,146,147,149,150,152,153,155,156,158,159,161,162,164,165,167,168,170,171,173,174,176,177,179,180,182,183,185,186,188,189,191,192,194,195,197,198,200,201,203,204,206,207,209,210) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('../data/dataset_twitter-scraper_2023-02-16_09-48-43-259.csv')

In [31]:
data.head(5)

,conversation_id,created_at,favorite_count,full_text,hashtags/0,hashtags/1,hashtags/2,hashtags/3,hashtags/4,hashtags/5,...,user_mentions/47/id_str,user_mentions/47/name,user_mentions/47/screen_name,user_mentions/48/id_str,user_mentions/48/name,user_mentions/48/screen_name,user_mentions/49/id_str,user_mentions/49/name,user_mentions/49/screen_name,view_count
0,1625495400470958082,2023-02-14T14:01:18.000Z,410055,"Happy Valentine’s Day to the one and only, @Mi...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16532336.0
1,1625143593286438912,2023-02-13T14:43:21.000Z,28215,"Congratulations to the Kansas City @Chiefs, Pa...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2775676.0
2,1623489922438156288,2023-02-09T01:12:15.000Z,9131,@KingJames has been changing the game for 20 y...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,492644.0
3,1625903851168579585,2023-02-16T06:21:12.000Z,674,@RokoMijic !!,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,443693.0
4,1622770990710235136,2023-02-07T01:35:28.000Z,13821,The scale of devastation after the earthquakes...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3117489.0

In [32]:
data.dropna(axis=1, how='all')

,conversation_id,created_at,favorite_count,full_text,hashtags/0,hashtags/1,hashtags/2,hashtags/3,hashtags/4,hashtags/5,...,user_mentions/47/id_str,user_mentions/47/name,user_mentions/47/screen_name,user_mentions/48/id_str,user_mentions/48/name,user_mentions/48/screen_name,user_mentions/49/id_str,user_mentions/49/name,user_mentions/49/screen_name,view_count
0,1625495400470958082,2023-02-14T14:01:18.000Z,410055,"Happy Valentine’s Day to the one and only, @Mi...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16532336.0
1,1625143593286438912,2023-02-13T14:43:21.000Z,28215,"Congratulations to the Kansas City @Chiefs, Pa...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2775676.0
2,1623489922438156288,2023-02-09T01:12:15.000Z,9131,@KingJames has been changing the game for 20 y...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,492644.0
3,1625903851168579585,2023-02-16T06:21:12.000Z,674,@RokoMijic !!,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,443693.0
4,1622770990710235136,2023-02-07T01:35:28.000Z,13821,The scale of devastation after the earthquakes...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3117489.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25791,511617780819709952,2014-09-15T20:49:19.000Z,0,RT @SarahHermit: Really looking forward to Thu...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25792,510685440048132096,2014-09-13T07:04:31.000Z,0,RT @SarahHermit: Still suspect if English peop...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25793,510685409811398656,2014-09-13T07:04:24.000Z,0,RT @SarahHermit: Politicians forget that the v...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25794,486255485268795392,2014-07-07T21:08:36.000Z,0,RT @DrEoinCl: Rejoice. 50% of UK Rail is State...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25795,485184181669199872,2014-07-04T22:11:37.000Z,0,RT @SarahHermit: @paulwrblanchard Lololol! Tha...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
data.head(5)

,conversation_id,created_at,favorite_count,full_text,hashtags/0,hashtags/1,hashtags/2,hashtags/3,hashtags/4,hashtags/5,...,user_mentions/47/id_str,user_mentions/47/name,user_mentions/47/screen_name,user_mentions/48/id_str,user_mentions/48/name,user_mentions/48/screen_name,user_mentions/49/id_str,user_mentions/49/name,user_mentions/49/screen_name,view_count
0,1625495400470958082,2023-02-14T14:01:18.000Z,410055,"Happy Valentine’s Day to the one and only, @Mi...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16532336.0
1,1625143593286438912,2023-02-13T14:43:21.000Z,28215,"Congratulations to the Kansas City @Chiefs, Pa...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2775676.0
2,1623489922438156288,2023-02-09T01:12:15.000Z,9131,@KingJames has been changing the game for 20 y...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,492644.0
3,1625903851168579585,2023-02-16T06:21:12.000Z,674,@RokoMijic !!,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,443693.0
4,1622770990710235136,2023-02-07T01:35:28.000Z,13821,The scale of devastation after the earthquakes...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3117489.0

In [34]:
data = data.drop_duplicates(subset='full_text')
data = data[~data['full_text'].str.startswith('RT ')]
data = data.drop(columns=['id', 'conversation_id', 'created_at', 'hashtags/0', 'hashtags/1', 'hashtags/2', 'hashtags/3', 'hashtags/4','hashtags/5' ,'hashtags/6' ,'hashtags/7' ])

In [35]:
data.head(5)

,favorite_count,full_text,id,media/0/media_url,media/0/type,media/1/media_url,media/1/type,media/2/media_url,media/2/type,media/3/media_url,...,user_mentions/47/id_str,user_mentions/47/name,user_mentions/47/screen_name,user_mentions/48/id_str,user_mentions/48/name,user_mentions/48/screen_name,user_mentions/49/id_str,user_mentions/49/name,user_mentions/49/screen_name,view_count
0,410055,"Happy Valentine’s Day to the one and only, @Mi...",1625495400470958082,https://pbs.twimg.com/media/Fo7rcoYaMAEKyde.jpg,photo,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16532336.0
1,28215,"Congratulations to the Kansas City @Chiefs, Pa...",1625143593286438912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2775676.0
2,9131,@KingJames has been changing the game for 20 y...,1623489922438156288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,492644.0
3,674,@RokoMijic !!,1626104389231607808,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,443693.0
4,13821,The scale of devastation after the earthquakes...,1622770990710235136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3117489.0

In [36]:
# Tokenize the text

data['tokens'] = data['full_text'].apply(word_tokenize)

In [37]:
# Remove stop words

stop_words = set(stopwords.words('english'))
data['tokens'] = data['tokens'].apply(lambda x: [word for word in x if word not in stop_words])

In [38]:
# Stem the words

stemmer = SnowballStemmer('english')
data['tokens'] = data['tokens'].apply(lambda x: [stemmer.stem(word) for word in x])

In [39]:
data.head(5)

,favorite_count,full_text,id,media/0/media_url,media/0/type,media/1/media_url,media/1/type,media/2/media_url,media/2/type,media/3/media_url,...,user_mentions/47/name,user_mentions/47/screen_name,user_mentions/48/id_str,user_mentions/48/name,user_mentions/48/screen_name,user_mentions/49/id_str,user_mentions/49/name,user_mentions/49/screen_name,view_count,tokens
0,410055,"Happy Valentine’s Day to the one and only, @Mi...",1625495400470958082,https://pbs.twimg.com/media/Fo7rcoYaMAEKyde.jpg,photo,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16532336.0,"[happi, valentin, ’, day, one, ,, @, michelleo..."
1,28215,"Congratulations to the Kansas City @Chiefs, Pa...",1625143593286438912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2775676.0,"[congratul, kansa, citi, @, chief, ,, patrick,..."
2,9131,@KingJames has been changing the game for 20 y...,1623489922438156288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,492644.0,"[@, kingjam, chang, game, 20, year, ,, becom, ..."
3,674,@RokoMijic !!,1626104389231607808,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,443693.0,"[@, rokomij, !, !]"
4,13821,The scale of devastation after the earthquakes...,1622770990710235136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3117489.0,"[the, scale, devast, earthquak, türkiy, syria,..."

In [11]:
# Prepare the data for analysis
X = data['tokens']
y = data['label']

KeyError: 'label'